{% extends 'AppBundle::base.html.twig' %}

{% block content %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.slug) }}
    </div>
    <div class="form-group">
        {{ form_row(form.title) }}
    </div>
    <div class="form-group">
        {{ form_row(form.published) }}
    </div>
    <div class="form-group">
        {{ form_row(form.content) }}
    </div>
    <div class="form-group">
        {{ form_row(form.tags) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>
{{ form_end(form) }}

{% endblock %}

{% block javascript %}
<script>
$(function() {
    tagnames = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        prefetch: {
            url: '{{ path('blog-tags.json') }}',
            filter: function(list) {
                return $.map(list, function(tag) { return { name: tag }; });
            }
        }
    });
    tagnames.initialize();
    $('input.tags-input').tagsinput({
        typeaheadjs: {
            name: 'tagnames',
            displayKey: 'name',
            valueKey: 'name',
            source: tagnames.ttAdapter()
        }
    });
});
</script>
{% endblock %}
